In [175]:
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import TargetEncoder
from category_encoders import TargetEncoder

### Objetivo do notebook 
1) Mostrar como funciona as tecnicas de Label encoder e one hot encoder

### ONE HOT ENCODER
vamos usar o one hot encoder nas colunas que usam dados do tipo string ('object') para conseguirmos colocar eles no modelo para melhorar a previsão

In [176]:
df = pd.read_csv('../../data/clean_dataset.csv')
df.head()

,sex,age,debt,married,bank_customer,industry,ethnicity,years_employed,prior_default,employed,credit_score,drive_license,citizen,zip_code,income,approved
0,Male,58.67,4.460,False,True,Chemistry,Hmong,3.04,True,True,6,False,Citizenship,43,560,True
1,Male,24.50,0.500,False,True,Chemistry,Hmong,1.50,True,False,0,False,Citizenship,280,824,True
2,Female,27.83,1.540,False,True,Writing,Viking,3.75,True,True,5,True,Citizenship,100,3,True
3,Female,20.17,5.625,False,True,Writing,Viking,1.71,True,False,0,False,Other,120,0,True
4,Female,32.08,4.000,False,True,Marketing,Viking,2.50,True,False,0,True,Citizenship,360,0,True

In [177]:
X = df.drop(columns=['approved', 'age', 'debt', 'years_employed', 'credit_score', 'zip_code', 'income'])

In [178]:
one_hot = OneHotEncoder(sparse=False)
one_hot.fit(X)

C:\Users\siera\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(sparse=False, sparse_output=False)

In [179]:
df_one_hot = one_hot.transform(
    df.drop(columns=['approved', 'age', 'debt', 'years_employed', 'credit_score', 'zip_code', 'income']))
one_hot.get_feature_names_out()

array(['sex_Female', 'sex_Male', 'married_False', 'married_True',
       'bank_customer_False', 'bank_customer_Former Client',
       'bank_customer_True', 'industry_Accounting',
       'industry_Aquaculture Agriculture', 'industry_Chemistry',
       'industry_Computer Consulting', 'industry_Computer Science',
       'industry_Engineering', 'industry_Fashion Photography',
       'industry_Graphic Design', 'industry_Human Resources',
       'industry_Illustration', 'industry_Journalism',
       'industry_Marketing', 'industry_Writing', 'industry_Xenobiology',
       'ethnicity_Bamar', 'ethnicity_Druze', 'ethnicity_Fulani',
       'ethnicity_Hmong', 'ethnicity_Javanese', 'ethnicity_Navajo',
       'ethnicity_Otomi', 'ethnicity_Viking', 'ethnicity_Zulu',
       'prior_default_False', 'prior_default_True', 'employed_False',
       'employed_True', 'drive_license_False', 'drive_license_True',
       'citizen_Citizenship', 'citizen_Other', 'citizen_temporary'],
      dtype=object)

In [180]:
df_one_hot

array([[0., 1., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.]])

In [181]:
df_one_hot = pd.DataFrame(df_one_hot, columns=one_hot.get_feature_names_out())

In [182]:
df_one_hot

,sex_Female,sex_Male,married_False,married_True,bank_customer_False,bank_customer_Former Client,bank_customer_True,industry_Accounting,industry_Aquaculture Agriculture,industry_Chemistry,...,ethnicity_Zulu,prior_default_False,prior_default_True,employed_False,employed_True,drive_license_False,drive_license_True,citizen_Citizenship,citizen_Other,citizen_temporary
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
658,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
659,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
660,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
661,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

Usando o One hot encoder transformamos cada valor em uma coluna e colocando 0 se não for e 1 caso seja.
Mas esse metodo dificulta muito as coisas quando precisamos trabalhar com os dados então vamos ver um metodo mais simples de trabalhar com isso

### Label encoder

In [183]:
df_encoded = pd.DataFrame()
columns_off = []
for col in df.columns:

    if df[col].dtype != 'float64' and df[col].dtype != 'int64':
        encoder = LabelEncoder()
        df_encoded[f'{col}'] = encoder.fit_transform(df[col])
    else:
        columns_off.append(col)

In [184]:
columns_off

['age', 'debt', 'years_employed', 'credit_score', 'zip_code', 'income']

In [185]:
df_encoded.columns

Index(['sex', 'married', 'bank_customer', 'industry', 'ethnicity',
       'prior_default', 'employed', 'drive_license', 'citizen', 'approved'],
      dtype='object')

In [186]:
df_label_encoder = pd.concat([df_encoded, df[columns_off]], axis=1)

In [187]:
df_label_encoder

,sex,married,bank_customer,industry,ethnicity,prior_default,employed,drive_license,citizen,approved,age,debt,years_employed,credit_score,zip_code,income
0,1,0,2,2,3,1,1,0,0,1,58.67,4.460,3.04,6,43,560
1,1,0,2,2,3,1,0,0,0,1,24.50,0.500,1.50,0,280,824
2,0,0,2,12,7,1,1,1,0,1,27.83,1.540,3.75,5,100,3
3,0,0,2,12,7,1,0,0,1,1,20.17,5.625,1.71,0,120,0
4,0,0,2,11,7,1,0,1,0,1,32.08,4.000,2.50,0,360,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,0,1,0,5,3,0,0,0,0,0,21.08,10.085,1.25,0,260,0
658,1,0,2,4,7,0,1,1,0,0,22.67,0.750,2.00,2,200,394
659,1,1,0,6,2,0,1,1,0,0,25.25,13.500,2.00,1,200,1
660,0,0,2,1,7,0,0,0,0,0,17.92,0.205,0.04,0,280,750
661,0,0,2,4,3,0,0,1,0,0,35.00,3.375,8.29,0,0,0