# EDA

O objetivo desse notebook é mostrar os conceitos basicos as tecnicas mais utilizadas nessa etapa.

- Medidas de tendência central (média, mediana, moda)
- Medidas de dispersão ( desvio padrão, variancia, IQR)

In [2]:
import pandas as pd

O dataset que sera utilizado nessa etapa é um dataset sobre o salarios e os trabalhos na área de Data Science

Fonte: https://www.kaggle.com/datasets/hummaamqaasim/jobs-in-data?resource=download

In [5]:
dataframe = pd.read_csv('../../data/jobs_in_data.csv')
dataframe.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

## Média das colunas

Podemos ver as médias de todas as colunas da forma mostrada abaixo de uma forma menos eficiente , pois com os resultados abaixo não conseguimos saber muito sobre cada tipo de categoria de trabalho, salario no pais, nivel de experiencia e etc.

In [8]:
for column in dataframe.columns:
    if dataframe[column].dtype != 'object':
        print(f"Mean of collumn {column} is {dataframe[column].mean()}")

Mean of collumn work_year is 2022.7604489577766
Mean of collumn salary is 149927.98129342598
Mean of collumn salary_in_usd is 150299.4955638696

O comando describe da lib pandas faz isso mais facilmente e retorna outras metricas como minimo max e etc.

In [9]:
dataframe.describe()

         work_year         salary  salary_in_usd
count  9355.000000    9355.000000    9355.000000
mean   2022.760449  149927.981293  150299.495564
std       0.519470   63608.835387   63177.372024
min    2020.000000   14000.000000   15000.000000
25%    2023.000000  105200.000000  105700.000000
50%    2023.000000  143860.000000  143000.000000
75%    2023.000000  187000.000000  186723.000000
max    2023.000000  450000.000000  450000.000000

## Mediana
A médiana é um tipo de medida importante , dado que algumas vezes o calculo da média pode distorcer os dados por causa de valores extremos, com o calculo da mediana podemos evitar esse distorcimento

In [10]:
for column in dataframe.columns:
    if dataframe[column].dtype != 'object':
        print(f"Mean of collumn {column} is {dataframe[column].median()}")

Mean of collumn work_year is 2023.0
Mean of collumn salary is 143860.0
Mean of collumn salary_in_usd is 143000.0

Com a obs acima da média e da mediana podemos ver que existe uma diferença entre as duas não tão grande mas existe

In [13]:
for column in dataframe.columns:
    if dataframe[column].dtype != 'object':
        print(f"Diff of mean and median in {column} is {dataframe[column].mean() -dataframe[column].median()}")

Diff of mean and median in work_year is -0.23955104222341106
Diff of mean and median in salary is 6067.981293425983
Diff of mean and median in salary_in_usd is 7299.495563869597

## Moda

In [18]:
for column in dataframe.columns:
    if dataframe[column].dtype != 'object':
        print(f"Mode of column {column} is {dataframe[column].mode(dropna=False)}")

Mode of column work_year is 0    2023
Name: work_year, dtype: int64
Mode of column salary is 0    150000
Name: salary, dtype: int64
Mode of column salary_in_usd is 0    150000
Name: salary_in_usd, dtype: int64