In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
n_samples = 100
weight = np.random.normal(loc=50, scale=10, size=n_samples)  # Peso dos ratos em gramas
size = 30 + 0.5 * weight + np.random.normal(loc=0, scale=5, size=n_samples)
month_born = np.random.randint(1, 13, size=n_samples)
rats = {
    'weight': weight,
    'size': size,
    'month_born': month_born
}
dataframe = pd.DataFrame(rats)
dataframe

       weight       size  month_born
0   61.333861  57.997310           4
1   46.243969  54.089454           5
2   59.462672  64.023119           4
3   52.728784  53.227538           1
4   58.100964  55.762236           9
..        ...        ...         ...
95  59.000040  62.410952           3
96  48.901092  58.415313           2
97  54.896470  54.073418           6
98  60.385458  60.891558           8
99  40.844008  51.911677           1

[100 rows x 3 columns]

In [3]:
X = dataframe.drop(columns='weight')
y = dataframe['weight']
X = sm.add_constant(X)
modelo = sm.OLS(y, X).fit()

In [4]:
aic = modelo.aic
bic = modelo.bic

In [5]:
print("AIC:", aic)
print("BIC:", bic)

AIC: 687.4232844697007
BIC: 695.238795027665